{% block body %}<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico">

    <title>{% block title 'Blog' %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/customer/style.css')}}">
    {% endblock stylesheets %}

</head>

<body>

<h1> Base Contact </h1>


    {% block content %}{% endblock %}


</body>
</html>

{% endblock %}