{# src/CustomerBundle/Resources/views/Default/create.html.twig #}
{% extends "CustomerBundle::base.html.twig" %}

{% block content %}

    <p>Création client</p>

    {{ form(form) }}

    <br/><a href="{{ path('customer_homepage') }}"><button>Home</button></a>
    
{% endblock %}